* {
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.section {
    width: 100%;
    padding-left: 60px;
    padding-right: 15px;
    padding-top: 10px;
    height: 87px;
}

.section-all {
    width: 1803px;
    height: 76px;
    padding: 0px 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-logo {
    width: 282px;
    padding: 18px 0px;
    height: 76px;
}

.main-logo {
    cursor: pointer;
}

.section-menu {
    width: 900px;
    padding: 18px 0px;
    height: 76px;

    cursor: pointer;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.all-btn {
    position: relative;

    background-color: #ffffff;
}

.brand-btn {
    font-size: 13px;
    color: #212121;
    text-decoration-line: underline;
    text-decoration-color: #af915e;
    text-decoration-thickness: 2px;
    background-color: white;

    cursor: pointer;
}

.brand-btn:hover {
    color: #af915e;
}

.drop-menu {
    position: absolute;

    width: 166px;
    height: 100px;
    box-sizing: border-box;
    
    background-color: #ffffff;
}

.drop-menu2 {
    position: absolute;

    width: 166px;
    height: 100px;
    box-sizing: border-box;

    background-color: #ffffff;
}

.drop-menu3 {
    position: absolute;
    
    width: 166px;
    height: 100px;
    box-sizing: border-box;

    background-color: #ffffff;
}

.drop-menu4 {
    position: absolute;

    width: 166px;
    height: 100px;
    box-sizing: border-box;

    background-color: #ffffff;
}

.drop-menu5 {
    position: absolute;

    width: 166px;
    height: 90px;
    box-sizing: border-box;

    background-color: #ffffff;
}

.drop-menu6 {
    position: absolute;

    width: 166px;
    height: 70px;
    box-sizing: border-box;

    background-color: #ffffff;
}

.dropdown-submenu {
    display: none;

    width: 166px;
    height: 38px;
    padding: 10px 20px;
    color: #af915e;

    background-color: #ffffffb3;
    font-size: 13px;
}

.dropdown-submenu li {
    color: #af915e;
    font-size: 13px;

    background-color: white;

}

.dropdown-submenu :hover {
    background-color: #af915e;
    color: #ffffff;
}

.dropdown-submenu2 {
    display: none;

    width: 166px;
    height: 38px;
    padding: 10px 20px;
    color: #af915e;

    background-color: #ffffffb3;
    font-size: 13px;
}

.dropdown-submenu2 li {
    color: #af915e;
    font-size: 13px;

    background-color: white;

}

.dropdown-submenu2 :hover {
    background-color: #af915e;
    color: #ffffff;
}

.dropdown-submenu3 {
    display: none;

    width: 166px;
    height: 38px;
    padding: 10px 20px;
    color: #af915e;

    background-color: #ffffffb3;
    font-size: 13px;
}

.dropdown-submenu3 li {
    color: #af915e;
    font-size: 13px;

    background-color: white;

}

.dropdown-submenu3 :hover {
    background-color: #af915e;
    color: #ffffff;
}

.dropdown-submenu4 {
    display: none;

    width: 166px;
    height: 38px;
    padding: 10px 20px;
    color: #af915e;

    background-color: #ffffffb3;
    font-size: 13px;
}

.dropdown-submenu4 li {
    color: #af915e;
    font-size: 13px;

    background-color: white;

}

.dropdown-submenu4 :hover {
    background-color: #af915e;
    color: #ffffff;
}

.dropdown-submenu5 {
    display: none;

    width: 166px;
    height: 38px;
    padding: 10px 20px;
    color: #af915e;

    background-color: #ffffffb3;
    font-size: 13px;
}

.dropdown-submenu5 li {
    color: #af915e;
    font-size: 13px;

    background-color: white;

}

.dropdown-submenu5 :hover {
    background-color: #af915e;
    color: #ffffff;
}

.dropdown-submenu6 {
    display: none;

    width: 166px;
    height: 38px;
    padding: 10px 20px;
    color: #af915e;

    background-color: #ffffffb3;
    font-size: 13px;
}

.dropdown-submenu6 li {
    color: #af915e;
    font-size: 13px;

    background-color: white;

}

.dropdown-submenu6 :hover {
    background-color: #af915e;
    color: #ffffff;
}

.menu-btn {
    font-size: 13px;
    color: #af915e;
    background-color: white;
    cursor: pointer;
}

.menu2-btn {
    font-size: 13px;
    color: #af915e;
    background-color: white;
    cursor: pointer;
}

.menu3-btn {
    font-size: 13px;
    color: #af915e;
    background-color: white;
    cursor: pointer;
}

.menu4-btn {
    font-size: 13px;
    color: #af915e;
    background-color: white;
    cursor: pointer;
}

.menu5-btn {
    font-size: 13px;
    color: #af915e;
    background-color: white;
    cursor: pointer;
}

.section-right {
    display: flex;
    justify-content: space-around;

    width: 282px;
    padding: 18px 0px;
    height: 76px;
}

.search {
    width: 34px;
    padding: 0px 5px;
    height: 25px;
}

.search i {
    font-size: 25px;
}

span {
    font-size: 12px;
    color: #af915e;
    cursor: pointer;
}

.shopping {
    width: 34px;
    padding: 0px 5px;
    height: 25px;
}

.shopping i {
    font-size: 25px;
}

.translation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80px;
    height: 19px;
    cursor: pointer;
}

i {
    color: #af915e;
    cursor: pointer;
}

.korea {
    width: auto;
    height: auto;

    color: black;
    cursor: pointer;
}

#down-icon {
    color: black;
}




