
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox {
    
}

.input-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 10px 0px;

    width: 400px;
    height: 27px;

}

.cancel-btn {

}

.signup-btn {

}