<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/board.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>디자이너 주얼리 NOONEE</title>
</head>
<body>
    <main>
        <div class="section-all">
            <div class="review-section">
                <div class="empty-section"></div>
                <div class="review-list">
                    <div class="board-head">
                        <div class="review-head">
                            <span>REVIEW</span>
                            <em>24</em>
                        </div>
                        <div class="tools">
                            <div class="search-bar">
                                <input type="text" placeholder="Search">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="review-inside">
                            <p class="product-name">Leaf for Propose[0.2ct]</p>
                            <p></p>
                            <p class="r">만족합니다용 추천 리뷰</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Wheat for Propose [0.1ct]</p>
                            <p></p>
                            <p class="r">너무 이쁘고 마음에 들어합니다 프로포즈링으로 너무 좋아요 진짜 명품 브랜드보다 퀄리티는 좋아요</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Roseberry for Layered</p>
                            <p></p>
                            <p class="r">여자친구가 너무 좋아하네요 감사합니다^^</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Scudo for Layered</p>
                            <p></p>
                            <p class="r">이뻐요 감사합니다~</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Scudo for Layered</p>
                            <p></p>
                            <p class="r">이뻐요 감사합니다~</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Scudo for Layered</p>
                            <p></p>
                            <p class="r">이뻐요 감사합니다~</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Scudo for Layered</p>
                            <p></p>
                            <p class="r">이뻐요 감사합니다~</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Scudo for Layered</p>
                            <p></p>
                            <p class="r">이뻐요 감사합니다~</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Like a tree 웨딩밴드 - for Men</p>
                            <p></p>
                            <p class="r">이뻐요~ 심플해서 딱이에요 ...! 굿굿</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Like a tree 웨딩밴드 - for Men</p>
                            <p></p>
                            <p class="r">이뻐요~ 심플해서 딱이에요 ...! 굿굿</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Like a tree 웨딩밴드 - for Men</p>
                            <p></p>
                            <p class="r">이뻐요~ 심플해서 딱이에요 ...! 굿굿</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Like a tree 웨딩밴드 - for Men</p>
                            <p></p>
                            <p class="r">이뻐요~ 심플해서 딱이에요 ...! 굿굿</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Like a tree 웨딩밴드 - for Men</p>
                            <p></p>
                            <p class="r">이뻐요~ 심플해서 딱이에요 ...! 굿굿</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Like a tree 웨딩밴드 - for Men</p>
                            <p></p>
                            <p class="r">이뻐요~ 심플해서 딱이에요 ...! 굿굿</p>
                            <li></li>
                        </div>
                        <div class="review-inside">
                            <p class="product-name">Like a tree 웨딩밴드 - for Men</p>
                            <p></p>
                            <p class="r">이뻐요~ 심플해서 딱이에요 ...! 굿굿</p>
                            <li></li>
                        </div>
                        <div class="review-insides">
                            <p class="product-name">Like a tree 웨딩밴드 - for Women</p>
                            <p></p>
                            <p class="r">오래기다렸지만 기다린만큼 이뿌네용.. 기다림만 조금더 줄었으면 좋겠어요 ㅜㅡㅜ</p>
                            <li></li>
                        </div>
                    </div>
                    <div class="page-buttons">
                        <button type="button" class="page-button">&lt;</button>
                        <button type="button" class="page-button">1</button>
                        <button type="button" class="page-button">2</button>
                        <button type="button" class="page-button">&gt;</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>