<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <section>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <div></div>
                <div></div>
                <div>
                    <span></span>
                    <input type="text">
                </div>
                <div>
                    <span>Size [ 3호-28호 ]</span>
                    <select class="select-box">
                        <option value="14K">14K</option>
                        <option value="18K">18K</option>
                    </select>
                </div>
                <div>
                    <span>KARAT</span>
                    <select class="select-box">
                        <option value="14K">14K</option>
                        <option value="18K">18K</option>
                    </select>
                </div>
                <div>
                    <span>COLOR</span>
                    <select class="select-box">
                        <option value="14K">14K</option>
                        <option value="18K">18K</option>
                    </select>
                </div>
                <div>
                    <span>Secret Stone</span>
                    <select class="select-box">
                        <option value="14K">14K</option>
                        <option value="18K">18K</option>
                    </select>
                </div>
                
                <div>
                    <span>Engraving</span>
                    <select class="select-box">
                        <option value="14K">14K</option>
                        <option value="18K">18K</option>
                    </select>
                </div>
                <div>
                    <button>구매하기</button>
                    <button>장바구니</button>
                    <button>♡0</button>
                    <button>구매하기</button>
                    <button>찜</button>
                </div>
            </div>
        </section>
        <section>
            <button></button>
            <button></button>
            <button></button>
        </section>
        <section>
            <div>
                <img src="" alt="">
                <img src="" alt="">
                <span></span>
            </div>
            <div>
                <span></span>
                <table></table>
                <span></span>
            </div>
            <div>
                <span></span>
                <img src="" alt="">
                <img src="" alt="">
                <span></span>
            </div>
            <div>
                <span></span>
                <img src="" alt="">
                <img src="" alt="">
                <span></span>
            </div>
            <div>
                <span></span>
                <img src="" alt="">
                <span></span>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div>
                <div class="product-img-price">
                    <img src="" alt="">
                    <div class="product-name-price">
                        <span>Roseberry 웨딩링 for Engagement</span>
                        <p>2,350,000원</p>
                    </div>
                </div>
                <div class="product-img-price">
                    <img src="" alt="">
                    <div class="product-name-price">
                        <span>Roseberry 웨딩링 for Engagement</span>
                        <p>2,350,000원</p>
                    </div>
                </div>
                <div class="product-img-price">
                    <img src="" alt="">
                    <div class="product-name-price">
                        <span>Roseberry 웨딩링 for Engagement</span>
                        <p>2,350,000원</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>